# Key Variable Selection from Data Sets

## Date: 1/19/22
## Modified: 2/21/22

Note: Millie selected code from all EDA notes, made some minor modifications, and merge key columns together. This note displays what that process looked like. When all columns and methods are finalized, we can convert code over into a simple script like the cleaning process.

In [3]:
import pandas as pd
import numpy as np

### Broadband

In [4]:
file = open("Initial Clean Data/broadband_clean.csv","r")
raw_broadband_data = pd.read_csv("Initial Clean Data/broadband_clean.csv")

broadband_2018 = raw_broadband_data.loc[raw_broadband_data['year'] == 2018].sort_values(by = "county", ascending=True)

### School Enrollment

In [5]:
file = open("Initial Clean Data/school_enrollment_clean.csv","r")
school_data = pd.read_csv("Initial Clean Data/school_enrollment_clean.csv")

### Employment

In [6]:
with open('Initial Clean Data/clean_employment_data.csv') as f:
    raw_clean_employment =  pd.read_csv(f, delimiter=',')

In [7]:
### Selecting overall popluation vars

overall_pop_employ_data = raw_clean_employment[["GEO_ID", "county", "state","S2301_C01_001E","S2301_C03_001E","S2301_C04_001E"]]

### Creating a dictionary for the selected variables to be renamed

overall_pop_employ_dict = {"S2301_C01_001E":"est_total_pop_16_over",
               "S2301_C03_001E":"est_emp_pop_ratio_16_over",
               "S2301_C04_001E":"est_unemp_pop_ratio_16_over"
                          }

overall_pop_employ_data.rename(columns=overall_pop_employ_dict, inplace=True)

/Users/milliesymns/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

### Income

In [8]:
with open('Initial Clean Data/clean_income_data.csv') as f:
    raw_clean_income =  pd.read_csv(f, delimiter=',')

In [9]:
### Selecting overall income vars

overall_income_data = raw_clean_income[["GEO_ID", "county", "state", "S1901_C01_001E", "S1901_C01_012E", "S1901_C02_001E", "S1901_C02_012E"]]

overall_income_dict = {"S1901_C01_001E":"est_total_households",
               "S1901_C01_012E":"est_med_income_households",
               "S1901_C02_001E":"est_total_families",
                "S1901_C02_012E":"est_med_income_families"
                          }

overall_income_data.rename(columns=overall_income_dict, inplace=True)

### Computer Types and Internet

In [10]:
with open('Initial Clean Data/est_computer_internet_data_clean.csv') as f:
    raw_clean_comp_int_est =  pd.read_csv(f, delimiter=',')

In [11]:
raw_clean_comp_int_est

,GEO_ID,county,state,est_total_households,est_total_households_with_Device,est_total_households_with_Desktop,est_total_households_with_NO,est_total_households_with_Smartphone,est_total_households_with_NO2,est_total_households_with_Portable,...,est_total_20k_households_with_Broadband,est_total_20k_households_without_SUB,est_total_under75k_households,est_total_under75k_households_with_DU,est_total_under75k_households_with_BB,est_total_under75k_households_without_SUB,est_total_75k_households,est_total_75k_households_with_DU,est_total_75k_households_with_BB,est_total_75k_households_without_SUB
0,0500000US01003,Baldwin County,Alabama,176222,10105,10426,11901,11597,25990,30117,...,58650,63024,24035,5301,3511,15223,10554,109462,14382,111248
1,0500000US01015,Calhoun County,Alabama,93284,6661,7451,8612,7661,12608,13616,...,31988,34120,11100,2268,3900,4932,12575,52182,13132,58657
2,0500000US01043,Cullman County,Alabama,66680,3861,4500,5424,4850,10131,10843,...,23509,23769,8797,1521,1401,5875,6190,40333,9334,42778
3,0500000US01049,DeKalb County,Alabama,57239,4894,4176,4084,4561,8261,9548,...,19312,20772,8049,1172,1342,5535,8711,30895,4704,35908
4,0500000US01051,Elmore County,Alabama,65407,3767,4847,6563,5577,10087,11642,...,23664,25677,8128,1677,1730,4721,4552,40894,8034,44494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,0500000US72113,Ponce Municipio,Puerto Rico,110975,7111,9533,9191,7453,14910,15744,...,36341,38137,13146,3411,2182,7553,34827,37354,13236,64945
834,0500000US72127,San Juan Municipio,Puerto Rico,271287,14593,21909,21366,18180,37676,41007,...,85117,98194,30088,6507,4671,18910,68267,112763,27596,161402
835,0500000US72135,Toa Alta Municipio,Puerto Rico,N,N,N,N,N,N,N,...,N,N,N,N,N,N,8172,36390,4696,39325
836,0500000US72137,Toa Baja Municipio,Puerto Rico,62985,4469,5050,5261,4376,9840,9486,...,20445,23348,6657,1518,847,4292,13070,30600,5270,38743
837,0500000US72139,Trujillo Alto Municipio,Puerto Rico,N,N,N,N,N,N,N,...,N,N,N,N,N,N,10176,27538,3702,33437

In [12]:
#Selecting only vars of interest (starting with est only and no income brackets)
comp_int_est = raw_clean_comp_int_est[['GEO_ID','county',                                   
'state',                                    
'est_total_households',                     
'est_total_households_with_Device',          
'est_total_households_with_Desktop',         
'est_total_households_with_NO',              
'est_total_households_with_Smartphone',      
'est_total_households_with_NO2',            
'est_total_households_with_Portable',        
'est_total_households_with_NO3',             
'est_total_households_with_Other',           
'est_total_households_with_NO4',              
'est_total_households_None',                  
'est_total_households_with_SUB',              
'est_total_households_with_DU',               
'est_total_households_with_Broadband',        
'est_total_households_with_Cellular',          
'est_total_households_with_Cell_NO',           
'est_total_households_with_Cable',            
'est_total_households_with_SAT',              
'est_total_households_without_SUB']]

In [13]:
#replacing all the N as true NaN
comp_int_est= comp_int_est.replace('N', np.NaN)
comp_int_est= comp_int_est.replace('*****', np.NaN)


#hard coding vars into floats (need to condense later)
comp_int_est[['est_total_households',                     
'est_total_households_with_Device',          
'est_total_households_with_Desktop',         
'est_total_households_with_NO',              
'est_total_households_with_Smartphone',      
'est_total_households_with_NO2',            
'est_total_households_with_Portable',        
'est_total_households_with_NO3',             
'est_total_households_with_Other',           
'est_total_households_with_NO4',              
'est_total_households_None',                  
'est_total_households_with_SUB',              
'est_total_households_with_DU',               
'est_total_households_with_Broadband',        
'est_total_households_with_Cellular',          
'est_total_households_with_Cell_NO',           
'est_total_households_with_Cable',            
'est_total_households_with_SAT',              
'est_total_households_without_SUB']] = comp_int_est[['est_total_households',                     
'est_total_households_with_Device',          
'est_total_households_with_Desktop',         
'est_total_households_with_NO',              
'est_total_households_with_Smartphone',      
'est_total_households_with_NO2',            
'est_total_households_with_Portable',        
'est_total_households_with_NO3',             
'est_total_households_with_Other',           
'est_total_households_with_NO4',              
'est_total_households_None',                  
'est_total_households_with_SUB',              
'est_total_households_with_DU',               
'est_total_households_with_Broadband',        
'est_total_households_with_Cellular',          
'est_total_households_with_Cell_NO',           
'est_total_households_with_Cable',            
'est_total_households_with_SAT',              
'est_total_households_without_SUB']].apply(pd.to_numeric)

comp_int_est.columns = comp_int_est.columns.str.lower()

##### !! @ JJ - Please add notes to this cell to describe your decision process here because it is unclear.

In [14]:
device_subset = comp_int_est.iloc[:, [0,1,2,3,4,5,6,7,8,9,10,11,12,13]].copy()
device_subset = device_subset.dropna()
device_subset["total_one_device"] = device_subset[["est_total_households_with_no","est_total_households_with_no2","est_total_households_with_no3","est_total_households_with_no4"]].sum(axis = "columns")
device_subset["total_multi_device"] = device_subset[["est_total_households_with_desktop","est_total_households_with_smartphone","est_total_households_with_portable","est_total_households_with_other"]].sum(axis = "columns")
device_subset["total_without_device"] = device_subset["est_total_households_none"]
device_subset["total_households_org"] = device_subset["est_total_households"]##Device_subset["est_total_households_frm_devices"]
device_subset = device_subset.drop(columns = ["est_total_households","est_total_households_with_device","est_total_households_with_desktop","est_total_households_with_no","est_total_households_with_smartphone","est_total_households_with_no2","est_total_households_with_portable","est_total_households_with_no3","est_total_households_with_other","est_total_households_with_no4", "est_total_households_none"]).copy()
device_subset

,geo_id,county,state,total_one_device,total_multi_device,total_without_device,total_households_org
0,0500000US01003,Baldwin County,Alabama,81612.0,67214.0,17291.0,176222.0
1,0500000US01015,Calhoun County,Alabama,41765.0,36583.0,8275.0,93284.0
2,0500000US01043,Cullman County,Alabama,30078.0,26316.0,6425.0,66680.0
3,0500000US01049,DeKalb County,Alabama,24255.0,23206.0,4884.0,57239.0
4,0500000US01051,Elmore County,Alabama,29564.0,27327.0,4749.0,65407.0
...,...,...,...,...,...,...,...
831,0500000US72061,Guaynabo Municipio,Puerto Rico,31680.0,28346.0,8992.0,72581.0
832,0500000US72097,Mayagüez Municipio,Puerto Rico,23988.0,24036.0,8692.0,61443.0
833,0500000US72113,Ponce Municipio,Puerto Rico,48277.0,42352.0,13235.0,110975.0
834,0500000US72127,San Juan Municipio,Puerto Rico,116975.0,103153.0,36566.0,271287.0
836,0500000US72137,Toa Baja Municipio,Puerto Rico,28654.0,23331.0,6531.0,62985.0

##### !! @ JJ - Please add notes to this cell to describe your decision process here because it is unclear.

In [15]:
subs_subset = comp_int_est.iloc[:, [0,1,2,14,15,16,17,18,19,20,21]].copy()
subs_subset["total_with_subs_org"] = subs_subset["est_total_households_with_sub"]
subs_subset["total_without_subs_org"] = subs_subset["est_total_households_without_sub"]
subs_subset["total_cellular_subs"] = subs_subset["est_total_households_with_cellular"]
subs_subset["total_with_cell_sub_only"] = subs_subset["est_total_households_with_cell_no"]
subs_subset["total_subs"] = subs_subset[["est_total_households_with_du","est_total_households_with_broadband","est_total_households_with_cable", "est_total_households_with_sat"]].sum(axis = "columns")
subs_subset["total_without_subs"] = subs_subset[["est_total_households_without_sub","est_total_households_with_cell_no"]].sum(axis = "columns")
subs_subset["total_subs_w_cell"] = subs_subset[["est_total_households_with_cellular","total_subs"]].sum(axis = "columns")
subs_subset = subs_subset.drop(columns = ["est_total_households_with_sub","est_total_households_with_du","est_total_households_with_broadband","est_total_households_with_cellular","est_total_households_with_cell_no","est_total_households_with_cable","est_total_households_with_sat","est_total_households_without_sub"]).copy()
subs_subset

,geo_id,county,state,total_with_subs_org,total_without_subs_org,total_cellular_subs,total_with_cell_sub_only,total_subs,total_without_subs,total_subs_w_cell
0,0500000US01003,Baldwin County,Alabama,153963.0,NaN,NaN,NaN,0.0,0.0,0.0
1,0500000US01015,Calhoun County,Alabama,70466.0,NaN,NaN,NaN,19360.0,0.0,19360.0
2,0500000US01043,Cullman County,Alabama,63420.0,NaN,NaN,NaN,0.0,0.0,0.0
3,0500000US01049,DeKalb County,Alabama,49530.0,NaN,NaN,NaN,0.0,0.0,0.0
4,0500000US01051,Elmore County,Alabama,49630.0,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
833,0500000US72113,Ponce Municipio,Puerto Rico,91808.0,110086.0,NaN,NaN,0.0,110086.0,0.0
834,0500000US72127,San Juan Municipio,Puerto Rico,175037.0,266076.0,NaN,NaN,94112.0,266076.0,94112.0
835,0500000US72135,Toa Alta Municipio,Puerto Rico,52289.0,58415.0,NaN,NaN,0.0,58415.0,0.0
836,0500000US72137,Toa Baja Municipio,Puerto Rico,49107.0,61835.0,NaN,NaN,7121.0,61835.0,7121.0
837,0500000US72139,Trujillo Alto Municipio,Puerto Rico,44264.0,53742.0,NaN,NaN,0.0,53742.0,0.0

## Population

In [16]:
#open 
file = open("Initial Clean Data/pop_data_clean.csv","r")
pop_data = pd.read_csv("Initial Clean Data/pop_data_clean.csv")

In [17]:
pop_data

,id,pop_total,county,state,pop_class
0,0500000US01001,58805,Autauga County,Alabama,Small Metro Area
1,0500000US01003,231767,Baldwin County,Alabama,Small Metro Area
2,0500000US01005,25223,Barbour County,Alabama,Micro Area
3,0500000US01007,22293,Bibb County,Alabama,Micro Area
4,0500000US01009,59134,Blount County,Alabama,Small Metro Area
...,...,...,...,...,...
3216,0500000US72145,54414,Vega Baja Municipio,Puerto Rico,Small Metro Area
3217,0500000US72147,8249,Vieques Municipio,Puerto Rico,Rural Area
3218,0500000US72149,22093,Villalba Municipio,Puerto Rico,Micro Area
3219,0500000US72151,30426,Yabucoa Municipio,Puerto Rico,Micro Area
3220,0500000US72153,34172,Yauco Municipio,Puerto Rico,Micro Area

## Households and Families

In [18]:
with open('Initial Clean Data/clean_households_data.csv') as f:
    raw_clean_households_data =  pd.read_csv(f, delimiter=',')

In [19]:
raw_clean_households_data

,geo_id,est_total_households_official,est_avg_household_size,est_total_families_official,est_avg_families_size
0,0500000US01003,83501,2.57,55354,3.18
1,0500000US01015,44264,2.51,30110,2.99
2,0500000US01043,30323,2.71,21587,3.20
3,0500000US01049,26462,2.66,19148,3.16
4,0500000US01051,30155,2.57,22103,3.05
...,...,...,...,...,...
833,0500000US72113,53450,2.42,34737,3.03
834,0500000US72127,147267,2.13,83520,2.81
835,0500000US72135,21511,3.29,16232,3.97
836,0500000US72137,26085,2.85,18440,3.41
837,0500000US72139,23195,2.71,16876,3.17

## Merging Dataframes

In [20]:
#Making column names consistent in snake case and lower 
school_data.columns = school_data.columns.str.lower().str.replace(" ", "_")
overall_pop_employ_data.columns = overall_pop_employ_data.columns.str.lower()
overall_income_data.columns = overall_income_data.columns.str.lower()
comp_int_est.columns = comp_int_est.columns.str.lower()

## !! WARNING !!
NOTE: Need to double check merges to see if data is being dropped unintentially due to which data frame we started with. 

Also, need to clean up the code so we are not doing repetitive merges like this (unless that is the only way. We can check with our mentors and TAs).

In [22]:
set1 = pop_data.merge(broadband_2018, left_on='id', right_on='id', how = 'outer')
set1 = set1.rename(columns = {"county_x":"county", "state_x":"state"})
set1 = set1.drop(columns = ["cfips", "county_y", "state_y"])

set2 = set1.merge(school_data, left_on='id', right_on='id', how = 'outer')
set2 = set2.rename(columns = {"county_x":"county", "state_x":"state"})
set2 = set2.drop(columns = ["county_y", "state_y"])

set3 = set2.merge(overall_income_data, left_on="id", right_on = "geo_id", how = "outer")
set3 = set3.rename(columns = {"county_x":"county", "state_x":"state"})
set3 = set3.drop(columns = ["county_y", "state_y"])

set4 = set3.merge(overall_pop_employ_data, left_on = "id", right_on = "geo_id", how = "outer")
set4 = set4.rename(columns = {"county_x":"county", "state_x":"state"})
set4 = set4.drop(columns = ["county_y", "state_y"])

set5 = set4.merge(comp_int_est, left_on = "id", right_on = "geo_id", how = "outer")
set5 = set5.rename(columns = {"county_x":"county", "state_x":"state"})
set5 = set5.drop(columns = ["county_y", "state_y"])

set6 = set5.merge(device_subset, left_on = "id", right_on = "geo_id", how = "outer")
set6 = set6.rename(columns = {"county_x":"county", "state_x":"state"})
set6 = set6.drop(columns = ["county_y", "state_y"])

set7 = set6.merge(subs_subset, left_on = "id", right_on = "geo_id", how = "outer")
set7 = set7.rename(columns = {"county_x":"county", "state_x":"state"})
set7 = set7.drop(columns = ["county_y", "state_y"])

set8 = set7.merge(raw_clean_households_data, left_on = "id", right_on = "geo_id", how = "outer") #don't think it needs to be an outer join here
set8 = set8.rename(columns = {"est_total_households_x":"est_total_households_frm_income", "est_total_households_y":"est_total_households_frm_devices"})
set8 = set8.drop(columns = ["geo_id_x", "geo_id_y"])

initial_analytic_dataset = set8

In [20]:
#initial_analytic_dataset["state"] = initial_analytic_dataset["state"].astype(str)
#initial_analytic_dataset["state"] = initial_analytic_dataset["state"].str.strip()

In [23]:
initial_analytic_dataset

,id,pop_total,county,state,pop_class,year,broadband_pct,total_pop_enrolled,percent_total_pop_enrolled,margin_total_pop,...,total_without_subs_org,total_cellular_subs,total_with_cell_sub_only,total_subs,total_without_subs,total_subs_w_cell,est_total_households_official,est_avg_household_size,est_total_families_official,est_avg_families_size
0,0500000US01001,58805.0,Autauga County,Alabama,Small Metro Area,2018.0,0.789,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0500000US01003,231767.0,Baldwin County,Alabama,Small Metro Area,2018.0,0.781,35912.0,79.0,1447.0,...,NaN,NaN,NaN,0.0,0.0,0.0,83501.0,2.57,55354.0,3.18
2,0500000US01005,25223.0,Barbour County,Alabama,Micro Area,2018.0,0.604,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0500000US01007,22293.0,Bibb County,Alabama,Micro Area,2018.0,0.661,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US01009,59134.0,Blount County,Alabama,Small Metro Area,2018.0,0.685,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,0500000US72147,8249.0,Vieques Municipio,Puerto Rico,Rural Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,0500000US72149,22093.0,Villalba Municipio,Puerto Rico,Micro Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,0500000US72151,30426.0,Yabucoa Municipio,Puerto Rico,Micro Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3220,0500000US72153,34172.0,Yauco Municipio,Puerto Rico,Micro Area,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3221,0500000US02261,NaN,NaN,NaN,NaN,2018.0,0.791,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
initial_analytic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3222 entries, 0 to 3221
Data columns (total 51 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    3222 non-null   object
 1   pop_total                             3221 non-null   float64
 2   county                                3221 non-null   object
 3   state                                 3221 non-null   object
 4   pop_class                             3221 non-null   object
 5   year                                  3133 non-null   float64
 6   broadband_pct                         3133 non-null   float64
 7   total_pop_enrolled                    838 non-null    float64
 8   percent_total_pop_enrolled            838 non-null    float64
 9   margin_total_pop                      838 non-null    float64
 10  est_total_households_frm_income       838 non-null    float64
 11  est_med_income_households             838 non-null    float64
 12  est_total_families                    838 non-null    float64
 13  est_med_income_families               838 non-null    float64
 14  est_total_pop_16_over                 821 non-null    float64
 15  est_emp_pop_ratio_16_over             821 non-null    float64
 16  est_unemp_pop_ratio_16_over           821 non-null    float64
 17  est_total_households_frm_devices      821 non-null    float64
 18  est_total_households_with_device      821 non-null    float64
 19  est_total_households_with_desktop     821 non-null    float64
 20  est_total_households_with_no          821 non-null    float64
 21  est_total_households_with_smartphone  821 non-null    float64
 22  est_total_households_with_no2         821 non-null    float64
 23  est_total_households_with_portable    821 non-null    float64
 24  est_total_households_with_no3         821 non-null    float64
 25  est_total_households_with_other       821 non-null    float64
 26  est_total_households_with_no4         821 non-null    float64
 27  est_total_households_none             821 non-null    float64
 28  est_total_households_with_sub         836 non-null    float64
 29  est_total_households_with_du          369 non-null    float64
 30  est_total_households_with_broadband   37 non-null     float64
 31  est_total_households_with_cellular    171 non-null    float64
 32  est_total_households_with_cell_no     9 non-null      float64
 33  est_total_households_with_cable       107 non-null    float64
 34  est_total_households_with_sat         107 non-null    float64
 35  est_total_households_without_sub      306 non-null    float64
 36  total_one_device                      821 non-null    float64
 37  total_multi_device                    821 non-null    float64
 38  total_without_device                  821 non-null    float64
 39  total_households_org                  821 non-null    float64
 40  total_with_subs_org                   836 non-null    float64
 41  total_without_subs_org                306 non-null    float64
 42  total_cellular_subs                   171 non-null    float64
 43  total_with_cell_sub_only              9 non-null      float64
 44  total_subs                            838 non-null    float64
 45  total_without_subs                    838 non-null    float64
 46  total_subs_w_cell                     838 non-null    float64
 47  est_total_households_official         838 non-null    float64
 48  est_avg_household_size                838 non-null    float64
 49  est_total_families_official           838 non-null    float64
 50  est_avg_families_size                 838 non-null    float64
dtypes: float64(47), object(4)
memory usage: 1.3+ MB

## Exporting CSV File

In [25]:
initial_analytic_dataset.to_csv(r'initial_analytic_dataset.csv', index = False)

In [23]:
#sample code if we need suffixes later
#set1 = school_data.merge(broadband_2018, left_on='id', right_on='id', suffixes=('_sch', '_brb'))