# Key Variable Selection from Data Sets

## Date: 1/19/22

Note: Millie selected code from all EDA notes, made some minor modifications, and merge key columns together. This note displays what that process looked like. When all columns and methods are finalized, we can convert code over into a simple script like the cleaning process.

In [17]:
import pandas as pd
import numpy as np

### Broadband

In [18]:
file = open("Initial Clean Data/broadband_clean.csv","r")
raw_broadband_data = pd.read_csv("Initial Clean Data/broadband_clean.csv")

broadband_2018 = raw_broadband_data.loc[raw_broadband_data['year'] == 2018].sort_values(by = "county", ascending=True)

### School Enrollment

In [19]:
file = open("Initial Clean Data/school_enrollment_clean.csv","r")
school_data = pd.read_csv("Initial Clean Data/school_enrollment_clean.csv")

### Employment

In [20]:
with open('Initial Clean Data/clean_employment_data.csv') as f:
    raw_clean_employment =  pd.read_csv(f, delimiter=',')

In [21]:
### Selecting overall popluation vars

overall_pop_employ_data = raw_clean_employment[["GEO_ID", "county", "state","S2301_C01_001E","S2301_C03_001E","S2301_C04_001E"]]

### Creating a dictionary for the selected variables to be renamed

overall_pop_employ_dict = {"S2301_C01_001E":"est_total_pop_16_over",
               "S2301_C03_001E":"est_emp_pop_ratio_16_over",
               "S2301_C04_001E":"est_unemp_pop_ratio_16_over"
                          }

overall_pop_employ_data.rename(columns=overall_pop_employ_dict, inplace=True)

/Users/milliesymns/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

### Income

In [22]:
with open('Initial Clean Data/clean_income_data.csv') as f:
    raw_clean_income =  pd.read_csv(f, delimiter=',')

In [23]:
### Selecting overall income vars

overall_income_data = raw_clean_income[["GEO_ID", "county", "state", "S1901_C01_001E", "S1901_C01_012E", "S1901_C02_001E", "S1901_C02_012E"]]

overall_income_dict = {"S1901_C01_001E":"est_total_households",
               "S1901_C01_012E":"est_med_income_households",
               "S1901_C02_001E":"est_total_families",
                "S1901_C02_012E":"est_med_income_families"
                          }

overall_income_data.rename(columns=overall_income_dict, inplace=True)

### Computer Types and Internet

In [24]:
with open('Initial Clean Data/est_computer_internet_data_clean.csv') as f:
    raw_clean_comp_int_est =  pd.read_csv(f, delimiter=',')

In [25]:
raw_clean_comp_int_est

,GEO_ID,county,state,est_total_households,est_total_households_with_Device,est_total_households_with_Desktop,est_total_households_with_NO,est_total_households_with_Smartphone,est_total_households_with_NO2,est_total_households_with_Portable,...,est_total_20k_households_with_Broadband,est_total_20k_households_without_SUB,est_total_under75k_households,est_total_under75k_households_with_DU,est_total_under75k_households_with_BB,est_total_under75k_households_without_SUB,est_total_75k_households,est_total_75k_households_with_DU,est_total_75k_households_with_BB,est_total_75k_households_without_SUB
0,0500000US01003,Baldwin County,Alabama,176222,10105,10426,11901,11597,25990,30117,...,58650,63024,24035,5301,3511,15223,10554,109462,14382,111248
1,0500000US01015,Calhoun County,Alabama,93284,6661,7451,8612,7661,12608,13616,...,31988,34120,11100,2268,3900,4932,12575,52182,13132,58657
2,0500000US01043,Cullman County,Alabama,66680,3861,4500,5424,4850,10131,10843,...,23509,23769,8797,1521,1401,5875,6190,40333,9334,42778
3,0500000US01049,DeKalb County,Alabama,57239,4894,4176,4084,4561,8261,9548,...,19312,20772,8049,1172,1342,5535,8711,30895,4704,35908
4,0500000US01051,Elmore County,Alabama,65407,3767,4847,6563,5577,10087,11642,...,23664,25677,8128,1677,1730,4721,4552,40894,8034,44494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833,0500000US72113,Ponce Municipio,Puerto Rico,110975,7111,9533,9191,7453,14910,15744,...,36341,38137,13146,3411,2182,7553,34827,37354,13236,64945
834,0500000US72127,San Juan Municipio,Puerto Rico,271287,14593,21909,21366,18180,37676,41007,...,85117,98194,30088,6507,4671,18910,68267,112763,27596,161402
835,0500000US72135,Toa Alta Municipio,Puerto Rico,N,N,N,N,N,N,N,...,N,N,N,N,N,N,8172,36390,4696,39325
836,0500000US72137,Toa Baja Municipio,Puerto Rico,62985,4469,5050,5261,4376,9840,9486,...,20445,23348,6657,1518,847,4292,13070,30600,5270,38743
837,0500000US72139,Trujillo Alto Municipio,Puerto Rico,N,N,N,N,N,N,N,...,N,N,N,N,N,N,10176,27538,3702,33437

In [26]:
#Selecting only vars of interest (starting with est only and no income brackets)
comp_int_est = raw_clean_comp_int_est[['GEO_ID','county',                                   
'state',                                    
'est_total_households',                     
'est_total_households_with_Device',          
'est_total_households_with_Desktop',         
'est_total_households_with_NO',              
'est_total_households_with_Smartphone',      
'est_total_households_with_NO2',            
'est_total_households_with_Portable',        
'est_total_households_with_NO3',             
'est_total_households_with_Other',           
'est_total_households_with_NO4',              
'est_total_households_None',                  
'est_total_households_with_SUB',              
'est_total_households_with_DU',               
'est_total_households_with_Broadband',        
'est_total_households_with_Cellular',          
'est_total_households_with_Cell_NO',           
'est_total_households_with_Cable',            
'est_total_households_with_SAT',              
'est_total_households_without_SUB']]

In [27]:
#replacing all the N as true NaN
comp_int_est= comp_int_est.replace('N', np.NaN)
comp_int_est= comp_int_est.replace('*****', np.NaN)


#hard coding vars into floats (need to condense later)
comp_int_est[['est_total_households',                     
'est_total_households_with_Device',          
'est_total_households_with_Desktop',         
'est_total_households_with_NO',              
'est_total_households_with_Smartphone',      
'est_total_households_with_NO2',            
'est_total_households_with_Portable',        
'est_total_households_with_NO3',             
'est_total_households_with_Other',           
'est_total_households_with_NO4',              
'est_total_households_None',                  
'est_total_households_with_SUB',              
'est_total_households_with_DU',               
'est_total_households_with_Broadband',        
'est_total_households_with_Cellular',          
'est_total_households_with_Cell_NO',           
'est_total_households_with_Cable',            
'est_total_households_with_SAT',              
'est_total_households_without_SUB']] = comp_int_est[['est_total_households',                     
'est_total_households_with_Device',          
'est_total_households_with_Desktop',         
'est_total_households_with_NO',              
'est_total_households_with_Smartphone',      
'est_total_households_with_NO2',            
'est_total_households_with_Portable',        
'est_total_households_with_NO3',             
'est_total_households_with_Other',           
'est_total_households_with_NO4',              
'est_total_households_None',                  
'est_total_households_with_SUB',              
'est_total_households_with_DU',               
'est_total_households_with_Broadband',        
'est_total_households_with_Cellular',          
'est_total_households_with_Cell_NO',           
'est_total_households_with_Cable',            
'est_total_households_with_SAT',              
'est_total_households_without_SUB']].apply(pd.to_numeric)

## Merging Dataframes

In [28]:
#Making column names consistent in snake case and lower 
school_data.columns = school_data.columns.str.lower().str.replace(" ", "_")
overall_pop_employ_data.columns = overall_pop_employ_data.columns.str.lower()
overall_income_data.columns = overall_income_data.columns.str.lower()
comp_int_est.columns = comp_int_est.columns.str.lower()

## !! WARNING !!
NOTE: Need to double check merges to see if data is being dropped unintentially due to which data frame we started with.

In [31]:
set1 = broadband_2018.merge(school_data, left_on='id', right_on='id', how = 'outer')
set1 = set1.rename(columns = {"county_x":"county", "state_x":"state"})
set1 = set1.drop(columns = ["cfips", "county_y", "state_y"])

set2 = overall_pop_employ_data.merge(overall_income_data, left_on='geo_id', right_on='geo_id', how = 'outer')
set2 = set2.rename(columns = {"county_x":"county", "state_x":"state"})
set2 = set2.drop(columns = ["county_y", "state_y"])

set3 = set1.merge(set2, left_on='id', right_on='geo_id', how = 'outer')
set3 = set3.rename(columns = {"county_x":"county", "state_x":"state"})
set3 = set3.drop(columns = ["county_y", "state_y"])

set4 = set3.merge(comp_int_est, left_on='id', right_on='geo_id', how = 'outer')
set4 = set4.rename(columns = {"county_x":"county", "state_x":"state"})
set4 = set4.drop(columns = ["county_y", "state_y", "geo_id_x", "geo_id_y"])

initial_analytic_dataset = set4

In [32]:
initial_analytic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3145 entries, 0 to 3144
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   county                                3133 non-null   object
 1   year                                  3133 non-null   float64
 2   id                                    3145 non-null   object
 3   state                                 3133 non-null   object
 4   broadband_pct                         3133 non-null   float64
 5   total_pop_enrolled                    838 non-null    float64
 6   percent_total_pop_enrolled            838 non-null    float64
 7   margin_total_pop                      838 non-null    float64
 8   est_total_pop_16_over                 821 non-null    float64
 9   est_emp_pop_ratio_16_over             821 non-null    float64
 10  est_unemp_pop_ratio_16_over           821 non-null    float64
 11  est_total_households_x                838 non-null    float64
 12  est_med_income_households             838 non-null    float64
 13  est_total_families                    838 non-null    float64
 14  est_med_income_families               838 non-null    float64
 15  est_total_households_y                821 non-null    float64
 16  est_total_households_with_device      821 non-null    float64
 17  est_total_households_with_desktop     821 non-null    float64
 18  est_total_households_with_no          821 non-null    float64
 19  est_total_households_with_smartphone  821 non-null    float64
 20  est_total_households_with_no2         821 non-null    float64
 21  est_total_households_with_portable    821 non-null    float64
 22  est_total_households_with_no3         821 non-null    float64
 23  est_total_households_with_other       821 non-null    float64
 24  est_total_households_with_no4         821 non-null    float64
 25  est_total_households_none             821 non-null    float64
 26  est_total_households_with_sub         836 non-null    float64
 27  est_total_households_with_du          369 non-null    float64
 28  est_total_households_with_broadband   37 non-null     float64
 29  est_total_households_with_cellular    171 non-null    float64
 30  est_total_households_with_cell_no     9 non-null      float64
 31  est_total_households_with_cable       107 non-null    float64
 32  est_total_households_with_sat         107 non-null    float64
 33  est_total_households_without_sub      306 non-null    float64
dtypes: float64(31), object(3)
memory usage: 860.0+ KB

## Exporting CSV File

In [33]:
initial_analytic_dataset.to_csv(r'initial_analytic_dataset.csv', index = False)

In [16]:
#sample code if we need suffixes later
#set1 = school_data.merge(broadband_2018, left_on='id', right_on='id', suffixes=('_sch', '_brb'))